
@{
    ViewBag.Title = "AddPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddPerson</h2>
<div id="form">
    <form method="POST" action="/Add/Add">
        <input type="text" name="Name" placeholder="Name.." />
        <input type="text" name="LastName" placeholder="Last Name.." />
        <input type="text" name="Age" placeholder="Age.." />

        <!--  <button type="button" onclick="location.href='@Url.Action("AddPerson", "Add")'">Add</button> -->

        <input type="submit" title="add" value="Add" />
    </form>
</div>
